{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=ddi_registry;Username=postgres;Password=yourpassword;",
    "ProviderName": "Npgsql"
  },
  "DefaultUser": {
    "UserName": "admin",
    "Email": "admin@localhost",
    "Password": "Password123!",
    "Role": "admin"
  },
  "EmailConfiguration": {
    "Host": "localhost",
    "Port": 587,
    "EnableSSL": false,
    "UserName": "user",
    "Password": "password",
    "FromName": "DDI Agency Registry",
    "FromAddress": "ddiregistry@ddialliance.org"
  },
  "Recaptcha": {
    "ReCaptchaPublicKey": "xxx",
    "ReCaptchaPrivateKey": "xxx"
  },
  "Authentication": {
    "Keycloak": {
      "Authority": "http://localhost:8180/realms/ddi-registry",
      "ClientId": "registry-web",
      "ClientSecret": "local-registry-web-secret"
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "IpRateLimiting": {
    "EnableEndpointRateLimiting": false,
    "StackBlockedRequests": false,
    "HttpStatusCode": 429,
    "IpWhitelist": [ "127.0.0.1", "::1/10", "192.168.0.0/24" ],
    "GeneralRules": [
      {
        "Endpoint": "*",
        "Period": "1s",
        "Limit": 2
      },
      {
        "Endpoint": "*",
        "Period": "15m",
        "Limit": 100
      },
      {
        "Endpoint": "*",
        "Period": "12h",
        "Limit": 1000
      },
      {
        "Endpoint": "*",
        "Period": "7d",
        "Limit": 10000
      }
    ]
  }
}
